In [1]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.keys import Keys
import pandas as pd
import html5lib

In [2]:
path=r"C:\Users\Shailesh Kadre\Downloads\chromedriver_win32 (1)\chromedriver.exe" 
url="https://tradestat.commerce.gov.in/eidb/icntcomq.asp"
driver=webdriver.Chrome(executable_path=path) #Path to Chrome Driver
driver.get(url)

<ipython-input-2-69e13cb9edb0>:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(executable_path=path) #Path to Chrome Driver

In [3]:
hscode=[]
comodity_name=[]
year=[]
country=[]
trade_inrs=[]

In [4]:
def get_Link(year_of_export,country_Name):
    driver.get(url)
    Select(driver.find_element(By.ID,"select2")).select_by_value(year_of_export)
    Select(driver.find_element(By.ID,"select3")).select_by_visible_text(country_Name)
    Select(driver.find_element(By.ID,"hslevel")).select_by_value('6')
    Select(driver.find_element(By.ID,"select1")).select_by_visible_text('HS Code')
    driver.find_element(By.ID,'radioDAll').click()
    return driver

def get_link_Irs(link):
    #        getting export values in rupees 
    link.find_element(By.ID,'radioval').click()
    link.find_element(By.ID,'button1').click()
    return link

def get_link_USD(link):
    #getting export values in dollars
    link.find_element(By.ID,'radiousd').click()
    link.find_element(By.ID,'button1').click()
    return link

def get_link_qty(link):
    # getting export values in quantity
    link.find_element(By.ID,'radioqty').click()
    link.find_element(By.ID,'button1').click()
    return link

In [5]:
def get_Ind_Rps(drivers,year_of_export,country_name,hscode,country,year,comodity_name,trade_inrs):
    table= drivers.find_element(By.TAG_NAME,"table")
    rows=table.find_elements(By.TAG_NAME,"tr")
    for i in rows:
        cols=i.find_elements(By.TAG_NAME,'td')
        if(cols==None or len(cols)==0):
            pass
        else:
            if(cols[1].text.startswith('300',0,3)):
                hscode.append(cols[1].text)
                comodity_name.append(cols[2].text)
                if(cols[3].text==' '):
                    trade_inrs.append('0')
                else:
                    trade_inrs.append(cols[3].text)
                year.append(year_of_export)
                country.append(country_name)
            elif(cols[1].text.startswith('400',0,3)):
                break
    return (hscode,country,year,comodity_name,trade_inrs)

In [6]:
hscode=[]
comodity_name=[]
year=[]
country=[]
trade_inrs=[]

In [5]:
years=[2021,2020,2019,2018,2017,2016,2015,2014,2013,2012,2011]

In [6]:
countries=[['U S A',
  'CHINA P RP',
  'U ARAB EMTS',
  'SAUDI ARAB',
  'IRAQ',
  'SINGAPORE',
  'HONG KONG',
  'INDONESIA',
  'KOREA RP',
  'AUSTRALIA'],
 ['CHINA P RP',
  'U S A',
  'U ARAB EMTS',
  'HONG KONG',
  'SAUDI ARAB',
  'SINGAPORE',
  'GERMANY',
  'SWITZERLAND',
  'INDONESIA',
  'KOREA RP'],
 ['U S A',
  'CHINA P RP',
  'U ARAB EMTS',
  'SAUDI ARAB',
  'HONG KONG',
  'IRAQ',
  'SINGAPORE',
  'GERMANY',
  'KOREA RP',
  'INDONESIA'],
 ['U S A',
  'CHINA P RP',
  'U ARAB EMTS',
  'SAUDI ARAB',
  'HONG KONG',
  'SINGAPORE',
  'IRAQ',
  'GERMANY',
  'KOREA RP',
  'INDONESIA'],
 ['CHINA P RP',
  'U S A',
  'U ARAB EMTS',
  'SAUDI ARAB',
  'HONG KONG',
  'GERMANY',
  'KOREA RP',
  'INDONESIA',
  'SWITZERLAND',
  'IRAQ'],
 ['CHINA P RP',
  'U S A',
  'U ARAB EMTS',
  'SAUDI ARAB',
  'HONG KONG',
  'GERMANY',
  'SWITZERLAND',
  'INDONESIA',
  'KOREA RP',
  'SINGAPORE'],
 ['CHINA P RP',
  'U S A',
  'U ARAB EMTS',
  'SAUDI ARAB',
  'SWITZERLAND',
  'GERMANY',
  'HONG KONG',
  'KOREA RP',
  'INDONESIA',
  'SINGAPORE'],
 ['CHINA P RP',
  'U S A',
  'U ARAB EMTS',
  'SAUDI ARAB',
  'SWITZERLAND',
  'GERMANY',
  'HONG KONG',
  'INDONESIA',
  'KOREA RP',
  'MALAYSIA'],
 ['CHINA P RP',
  'U S A',
  'U ARAB EMTS',
  'SAUDI ARAB',
  'GERMANY',
  'SWITZERLAND',
  'HONG KONG',
  'INDONESIA',
  'IRAQ',
  'SINGAPORE'],
 ['U ARAB EMTS',
  'CHINA P RP',
  'U S A',
  'SAUDI ARAB',
  'SWITZERLAND',
  'GERMANY',
  'SINGAPORE',
  'IRAQ',
  'INDONESIA',
  'HONG KONG'],
 ['CHINA P RP',
  'U ARAB EMTS',
  'U S A',
  'SAUDI ARAB',
  'SWITZERLAND',
  'SINGAPORE',
  'GERMANY',
  'HONG KONG',
  'INDONESIA',
  'IRAQ']]

In [9]:
for cnt in range(6,len(countries)):
    cntry=countries[cnt]
    for i in range(0,len(cntry)):
        link=get_Link(str(years[cnt]),cntry[i])
        linkirs=get_link_Irs(link)
        hs_code,country,year,comodity_name,trade_inrst=get_Ind_Rps(linkirs,years[cnt],cntry[i],hscode,country,year,comodity_name,trade_inrs)

In [10]:
data={
    'HS_CODE':hscode,
    'Comodity_name':comodity_name,
    'year':year,
    'country':country,
    'trade_in_Rupees':trade_inrs
    
}

In [11]:
df=pd.DataFrame(data)

In [12]:
df.tail()

,HS_CODE,Comodity_name,year,country,trade_in_Rupees
796,300510,ADHESIVE DRSSNGS AND OTHR ARTCLS HAVING AN ADH...,2011,INDONESIA,0.01
797,300590,OTHER DRESSING ARTICLES,2011,INDONESIA,9.30
798,300610,STERILE SURGCL ETC FR SURGCL WOUND CLOSURESTER...,2011,INDONESIA,0
799,300640,DENTAL CEMENTS AND OTHR DENTAL FILLINGS BONE R...,2011,INDONESIA,0
800,300660,CHMCL CONTRACEPTIVE PRPNS BASED ON HORMONES/SP...,2011,INDONESIA,330.04

In [13]:
df.to_csv("C:\\Nandini\\ml_projects\\projects\\Chemicals Import export\\import_tradersp_2019-2018.csv")

In [23]:
usdollar=[]
qty=[]

In [10]:
def get_Usd_val(drivers,usdollar):
    table= drivers.find_element(By.TAG_NAME,"table")
    rows=table.find_elements(By.TAG_NAME,"tr")
    for i in rows:
        cols=i.find_elements(By.TAG_NAME,'td')
        if(cols==None or len(cols)==0):
            pass
        else:
            if(cols[1].text.startswith('300',0,3)):
                if(cols[3].text==' '):
                    usdollar.append('0')
                else:
                    usdollar.append(cols[3].text)
            
            elif(cols[1].text.startswith('400',0,3)):
                break
    return usdollar

In [24]:
def get_qty_val(drivers,qty):
    table= drivers.find_element(By.TAG_NAME,"table")
    rows=table.find_elements(By.TAG_NAME,"tr")
    for i in rows:
        cols=i.find_elements(By.TAG_NAME,'td')
        if(cols==None or len(cols)==0):
            pass
        else:
            if(cols[1].text.startswith('300',0,3)):
                if(cols[4].text==' '):
                    qty.append('0')
                else:
                    
                    qty.append(cols[4].text)
            elif(cols[1].text.startswith('400',0,3)):
                break
    return qty

In [12]:
for i in range(0,len(countries)):
    cntry=countries[i]
    print(len(cntry))
    for j in range(0,len(cntry)):
        link=get_Link(str(years[i]),cntry[j])
        linkus=get_link_USD(link)
        usdollar=get_Usd_val(linkus,usdollar)

10
10
10
10
10
10
10
10
10
10
10

In [14]:
df1={'trade_in_USD':usdollar}

In [25]:
for i in range(10,11):
    cntry=countries[i]
    for j in range(0,len(cntry)):
        print(years[i])
        link=get_Link(str(years[i]),cntry[j])
        linkqty=get_link_qty(link)
        qty=get_qty_val(linkqty,qty)

2011
2011
2011
2011
2011
2011
2011
2011
2011
2011

In [26]:
df2={'Quantity':qty}

In [15]:
df1=pd.DataFrame(df1)

In [16]:
df1.to_csv(r'C:\Nandini\ml_projects\projects\Chemicals Import export\import_usd.csv')

In [27]:
df2=pd.DataFrame(df2)

In [22]:
df2.to_csv(r'C:\Nandini\ml_projects\projects\Chemicals Import export\import_qty.csv')

In [28]:
df2.to_csv(r'C:\Nandini\ml_projects\projects\Chemicals Import export\import_qty1.csv')